.items-panel{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    > .items{
        > .item-row{
            &.has-bonus{
                background-color: rgb(165, 235, 165);;
            }
            &.disabled{
                background-color: rgb(204, 204, 204)!important;
                color: rgb(63, 63, 63)!important;
            }
            display: flex;
            > .item-info{
                display: flex;
    
                > .add-button{
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    > button{
                        height: 36px;
                        width: 36px;
                    }
                }
    
                > div{
                    display: flex;
                    align-items: center;
                    height: 50px;
                }
                >.item-title{
                    width: 300px;
                    padding-left: 15px;
                    display: flex;
                    flex-direction: column;
                    height: 70px;
                    > .item-name{
                        height: 30px;
                        margin-top: 10px;
                    }
                    > div{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    > .item-categories{
                        flex: 1;
                        font-size: 0.8em;
                        > div{
                            padding: 0 10px;
                        }
                    }
                }
                >.item-hours{
                    width: 130px;
                    > .item-hours-number{
                        width: 30px;
                    }
                }
                
                >.item-value{
                    width: 140px;
                    > div{
                        width: 70px;
                        display: flex;
                        justify-content: end;
                    }
                    
                }
    
                
            }
            > .item-materials{
                padding-left: 15px;
                > .material-item{
                    display: flex;
                    > .material-icon{
                        width: 25px;
                        height: 25px;
                        > div{
                            height: 100%;
                            width: 100%;
                        }
                    }
                    > .material-name{
                        padding-left: 10px;
                        width: 200px;
                    }
                    border-bottom: 1px solid grey;
                    &:last-child{
                        border-bottom: none;
                    }
                }
            }
            > .item-options{
                padding-left: 15px;
            }

            border-bottom: 1px solid black;
        }
    }
}